.subheader {
    color: rgba(26, 183, 143, 1);
    font-size: 1.25rem;
}

.boxes {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.box {
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 1rem;
}

.box>p {
    font-size: 0.8rem;
    text-align: right;
    font-style: italic;
    color: beige;
}


.no-border {
    border: none;
}

.focused-border {
    box-shadow: 0 0 3px 3px #a6a6a6;
}

.small-font {
    font-size: 1.4rem;
}

img {
    border: 1px solid orangered;
    object-fit: contain;
}

.circles {
    font-size: 1.5rem;
    position: relative;
}

.circle {
    border: 1px solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: grid;
    align-items: center;
}

/* colors */

.transparent {
    color: transparent;
    border-color: transparent;
}

.gray {
    color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
}

.darkgray {
    color: rgb(20, 20, 20);
    border-color: rgb(20, 20, 20);
}

.yellow {
    color: yellow;
    border-color: yellow;
}

.orange {
    color: orange;
    border-color: orange;
}

.orangered {
    color: orangered;
    border-color: orangered;
}

.red {
    color: red;
    border-color: red;
}

.green {
    color: #009900;
    border-color: #009900;
}